body { /*animated background */
	left:0;
	margin:0;
	background-image: linear-gradient(45deg,#FFCC33,#660099);  
	background-size: 200%;
	height: 100vh;
	animation: animatedBackground 4s linear infinite alternate;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

@keyframes animatedBackground {
  from {background-position: 0% 0;}
  to {background-position: 100% 0;}
}

.page-header {
  background-color: #0;
  height: 100vh;
}
.scrollDown{
	position: absolute;
	background-size: auto 10%;
	width: 100%;
	height: 100%;
	background-position: 50% 95%;
	background-image: url("SCROLLDOWN.png");
	background-repeat: no-repeat;
    z-index:-999;
	animation: animatedScroll 1s linear infinite alternate;

}
@keyframes animatedScroll {
  from {background-position: 50% 87.5%;}
  to {background-position: 50% 90%;}
}
.crest{
	position: fixed;
	background-size: auto 40%;
	width: 100%;
	height:100%;
	background-position: center;
	background-image: url("BLEB.svg");
	background-repeat: no-repeat;
    z-index:-999;
	
}

.sticky {
  width: 100%;
  position: absolute;
  top: 100vh;
}
.sticky2 {
  width: 100%;
  position: fixed;
  top: 0;
}

@font-face {
  font-family: flebFont;
  src: url(FLEB.otf);
}


	

.nav-bar{
	position:absolute;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  background-color: #6C3483;
  color: white;
}

li {
  float: left;
}

li a {
	  font-family: flebFont;

  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a.active {
  background-color:  #553470;
  box-shadow: 0 0 5px 5px #553470;
  color: white;
}

li a:hover:not(.active) {
   background-color:  #553470;
  box-shadow: 0 0 5px 5px #553470;
  color: white;
}

.fade{ /*the main text content on the page */
opacity:0;
  font-family: flebFont;
  color: white;
position:relative;
	top: 120px;
	justify-content: center;
	text-align: center;
	width: 50vw; 
	margin: 0 auto; 
z-index: -100;
  text-shadow: 1.5px 1.5px #222;

}

.textplace{ /*the main text content on the page */
  font-family: flebFont;
  color: white;
position:relative;
	top: 120px;
	justify-content: center;
	text-align: left;
	width: 70vw; 
	margin: 0 auto; 
z-index: -100;
    -webkit-text-stroke: 0.2px #200037; /* width and color */

}

img {
    max-width: 80%;
    height: auto;
	
}

.footer {
position:relative;
top: 120px;
  padding: 20px;
  text-align:center;
}
